<!doctype html>
<html lang="en-US">

{% include head.html %}

<body>

<div class="dark-grey">
   <div class="row">
    <div class="container right">Browse past editions:&nbsp;&nbsp;<a href="http://newyorkcity2013.apistrat.com" class="apistrat">NYC, Feb. 2013</a>&nbsp;&nbsp;<a href="http://sanfrancisco2013.apistrat.com" class="apistrat">SF, Oct. 2013</a>&nbsp;&nbsp;<a href="http://amsterdam2014.apistrat.com" class="apistrat">AMS, Mar. 2014</a>&nbsp;&nbsp;</div>
  </div>
</div>

<!--Header-->
<div class="grey">
  <div class="container">
    <div class="row mtop20">
      <div class="span3">
        <img src="https://s3.amazonaws.com/kinlane-productions/events/api-strategy-practice-chicago/api-strategy-practice-chicago-logo.png" width="240px"/>
      </div>
      <div class="span9">
        <ul class="nav nav-pills apistrat">
          <li><a href="/">HOME</a></li>
          <li><a href="/schedule/">SCHEDULE</a></li>
          <li><a href="/speakers/">SPEAKERS</a></li>
          <li><a href="/sponsors/">SPONSORS</a></li>
          <li><a href="/blog/">BLOG</a></li>
          <li><a href="/workshops/">WORKSHOPS</a></li>
          <li><a href="/venue/">VENUE</a></li>
          <!--<li class="centered register submit"><span><a href="/register.php" class="abtn">REGISTER</a></span></li>--->
        </ul>
      </div>
    </div>
   <div class="chicago mtop20">
   	  <h4 style="color:#fff; font-size:44px; font-weight: bold; padding-left: 20px; padding-top:20px; line-height: 50px;">APISTRAT 2014</h4>
      <div class="row" style="margin-top:80px; margin-left: 220px;">

     </div>
   </div>
</div>

<!--MAIN-->
<div class="grey">
  <div class="container">
    <div class="row mtop20">

      {{ content }}

    </div>
  </div>
 </div>

<!--FOOTER-->
<div class="dark-grey mtop40 border-footer">
  <div class="container">

    <h4>We'd love to hear from you</h4>
    <div class="row">
      <div class="span4">

        <div class="orange">Follow us on Twitter</div>
        <div><a class="apistrat" href="https://twitter.com/apistrat">@apistrat</a></div>
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="apistrat">Tweet</a>
        </div>
        <div>
			<!-- Place this tag where you want the share button to render. -->
			<div class="g-plus" data-action="share" data-annotation="none"></div>

			<!-- Place this tag after the last share tag. -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/platform.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>

		</div>
        <div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=101594059937394";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
        </div>
      </div>
      <div class="span4">
        <div class="orange">Contact</div>
        <div><a href="contact.php" class="apistrat">Contact us</a></div>
        <div><a class="apistrat" href="/cdn-cgi/l/email-protection#2f4e5f464c4041494a5d4a414c4a6f1c5c4c4e434a01414a5b"><span class="__cf_email__" data-cfemail="d0b1a0b9b3bfbeb6b5a2b5beb3b590e3a3b3b1bcb5febeb5a4">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></div>
        <div><a href="/code-of-conduct.php" class="apistrat">Code of Conduct</a></div>
      </div>
      <div class="span4">
        <div class="orange">Event co-organized by</div>
        <div class="mtop5"><img src="/img/apievangelist.png" width="250px"/></div>
        <div class="mtop5"><img src="/img/3scale.png" width="150px"/></div>
      </div>
    </div>
  </div>

</div>
</div>

</body>
</html>
