<!doctype html>
<html lang="en-US">

{% include head.html %}

<body>

<div class="dark-grey">
  <div class="row">
    <div class="container right">Browse past editions:&nbsp;&nbsp;<a href="http://newyorkcity2013.apistrat.com" class="apistrat">NYC, Feb. 2013</a>&nbsp;&nbsp;<a href="http://sanfrancisco2013.apistrat.com" class="apistrat">SF, Oct. 2013</a>&nbsp;&nbsp;<a href="http://amsterdam2014.apistrat.com" class="apistrat">AMS, Mar. 2014</a>&nbsp;&nbsp;</div>
  </div>
</div>

<!--Header-->
<div class="grey">
  <div class="container">
    <div class="row mtop20">
      <div class="span3">
        <img src="https://s3.amazonaws.com/kinlane-productions/events/api-strategy-practice-chicago/api-strategy-practice-chicago-logo.png" width="240px"/>
      </div>
      <div class="span9">
        <ul class="nav nav-pills apistrat">
          <li><a href="/">HOME</a></li>
          <li><a href="/schedule/">SCHEDULE</a></li>
          <li><a href="/speakers/">SPEAKERS</a></li>
          <li><a href="/sponsors/">SPONSORS</a></li>
          <li><a href="/blog/">BLOG</a></li>
          <li><a href="/workshops/">WORKSHOPS</a></li>
          <li><a href="/venue/">VENUE</a></li>
        </ul>
      </div>
    </div>
    <div class="chicago mtop20">
      <h4 style="color:#fff; font-size:44px; font-weight: bold; padding-left: 20px; padding-top:20px; line-height: 50px;">APISTRAT 2014</h4>
      <div class="row" style="margin-top:80px; margin-left: 220px;"></div>
    </div>
</div>

<!--MAIN-->
<div class="grey">
  <div class="container">
    <div class="row mtop20">

      {{ content }}

    </div>
  </div>

  <!--FOOTER-->
  <div class="dark-grey mtop40 border-footer">
    <div class="container">
      <h4>We'd love to hear from you</h4>
      <div class="row">
        <div class="span4">
          <div class="orange">Follow us on Twitter</div>
          <div><a class="apistrat" href="https://twitter.com/apistrat">@apistrat</a></div>
          <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="apistrat">Tweet</a>
          </div>
        </div>
        <div class="span4">
          <div class="orange">Contact</div>
          <div><a href="http://apistrat.com/contact/" class="apistrat">Contact us</a></div>
          <div><a href="/code-of-conduct/" class="apistrat">Code of Conduct</a></div>
        </div>
        <div class="span4">
          <div class="orange">Event co-organized by</div>
          <div class="mtop5"><img src="/img/apievangelist.png" width="250px"/></div>
          <div class="mtop5"><img src="/img/3scale.png" width="150px"/></div>
        </div>
      </div>
  </div>
  
</div>

</body>
</html>
